cmake-build-debug/**
.idea/**
motorAPI/cmake-build-debug/**
motorAPI/.idea/**
build-*/
*.o
*.53de481
*.user
*.txt.user
*.user.*
TcpServer/CMakeLists.txt.user
TcpClient/CMakeLists.txt.user
cameraAPI/CMakeLists.txt.user
Chaos/CMakeLists.txt.user
*.orig

*.autosave

*.stash

Chaos/.idea/*
Chaos/cmake-build-debug/*
cameraAPI/.idea/*
cameraAPI/cmake-build-debug/*
